@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "open sas", sans-serif;
}

:root {
    --blue: #192436;
    --pale: #615F5C;
    --white: #E9E8E9;
}

section {
    padding: 3vh 3vh;
}

.top-bar {
    padding: 0px;
    color: #fff;
    background-color: #000;
}

.top-bar span{
    font-family: "Phudu", sans-serif;
}

.navbar_wrapper nav{
    padding: 10px 20px;
}

.logo-image img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 112px;
}

.navbar_wrapper nav .nav-item .nav-link{
    font-family: "Ubuntu", sans-serif;
}

#hero{
    margin-bottom: 10vw;
}

#hero .page-description p{
    font-family: Arial,sans-serif;
    line-height: 1.2em;
    font-family: Open Sans;
    font-weight: 400;
    font-style: normal;
    font-size: 38px;
    letter-spacing: .1em;
    line-height: 2.9em;
    text-transform: none;
    color: var(--blue);
}

#hero .page-description p span{
    white-space: pre-wrap;
}

#services .header h1 {
    text-align: center;
    font-size: 26px;
    font-family: "Phudu", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.4em;
    letter-spacing: .25em;
    text-transform: uppercase;
    color: var(--blue);
    margin-bottom: 20px;
}

#services .lead{
    text-align: center;
    word-wrap: break-word;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 2.4em;
    letter-spacing: .065em;
    text-rendering: optimizeLegibility;
    color: var(--pale);
}

#services .service-items ul{
    text-transform: none;
    text-decoration: none;
    list-style-type: none;
}

#services .service-items ul li{
    text-decoration: none;
    display: list-item; 
}

#services .service-items ul li p{
    text-align: center;
    white-space: pre-wrap;
    font-family: "Phudu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 2.4em;
    letter-spacing: .065em;
    text-rendering: optimizeLegibility;
    color: var(--pale);
} 

/* Gallery */

#gallery-hero h1{
    line-height: 1.4em;
    letter-spacing: .25em;
    text-transform: uppercase;
    color: var(--blue);
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    margin: 0.67em 0;
}

/* About */

#about-hero{
    padding: 5vh 3vh;
}

#about-hero .row h1 {
    white-space: pre-wrap;
    font-size: 26px;
    font-family: "Phudu", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.4em;
    letter-spacing: .25em;
    text-transform: uppercase;
    color: var(--blue);
    margin-bottom: 20px;
}

#about-hero .row span {
    white-space: pre-wrap;
    font-size: 16px;
    font-family: "Phudu", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.4em;
    letter-spacing: .25em;
    text-transform: uppercase;
    color: var(--blue);
    margin-bottom: 40px;
}

#about-hero .lead{
    text-align: center;
    word-wrap: break-word;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 2.4em;
    letter-spacing: .065em;
    text-rendering: optimizeLegibility;
    color: var(--pale);
}

#about-hero .service-items ul{
    text-transform: none;
    text-decoration: none;
    list-style-type: none;
}

#about-hero .service-items ul li{
    text-decoration: none;
    display: list-item; 
}

#about-hero .row p{
    font-family: "open sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 2.4em;
    letter-spacing: .065em;
    text-rendering: optimizeLegibility;
    color: var(--pale);
} 

/* amenities */

#amenities-hero .row{
    padding: 5vh 3vh;
}

#amenities-hero .row h1{
    font-family: arno-pro;
    font-weight: 700;
    font-style: normal;
    font-size: 11.5px;
    line-height: 2.1em;
    letter-spacing: .25em;
    text-transform: uppercase;
    color: var(--blue);
    padding-top: 17px;
}

#amenities-hero .row p{
    font-family: proxima-nova;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 2.4em;
    letter-spacing: .065em;
    text-rendering: optimizeLegibility;
    color: var(--pale);
}

/* Book */

#book-hero{
    padding: 5vh 3vh;
}

#book-hero .row h1 {
    white-space: pre-wrap;
    font-size: 26px;
    font-family: "Phudu", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.4em;
    letter-spacing: .25em;
    text-transform: uppercase;
    color: var(--blue);
    margin-bottom: 20px;
}

#book-hero .lead{
    text-align: center;
    word-wrap: break-word;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 2.4em;
    letter-spacing: .065em;
    text-rendering: optimizeLegibility;
    color: var(--pale);
}

#book-hero .service-items ul{
    text-transform: none;
    text-decoration: none;
    list-style-type: none;
}

#book-hero .service-items ul li{
    text-decoration: none;
    display: list-item; 
}

#book-hero .row p{
    font-family: "open sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    line-height: 2.4em;
    letter-spacing: .065em;
    text-rendering: optimizeLegibility;
    color: var(--pale);
} 

#book-hero .book-button{
    display: flex;
    justify-content: center;
}

#book-hero a{
    margin-top: 30px;
}

#book-1{
    padding: 5vh 3vh;
}

#book-1 .row h1 {
    white-space: pre-wrap;
    font-size: 26px;
    font-family: "Phudu", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.4em;
    letter-spacing: .25em;
    text-transform: uppercase;
    color: var(--blue);
    margin-bottom: 20px;
}

#book-1 .row span {
    font-family: arno-pro;
    font-weight: 700;
    font-style: normal;
    font-size: 11.5px;
    line-height: 2.1em;
    letter-spacing: .25em;
    text-transform: uppercase;
    color: var(--blue);
}

#book-1 .lead{
    text-align: center;
    word-wrap: break-word;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 2.4em;
    letter-spacing: .065em;
    text-rendering: optimizeLegibility;
    color: var(--pale);
}

#book-1 .service-items ul{
    text-transform: none;
    text-decoration: none;
    list-style-type: none;
}

#book-1 .service-items ul li{
    text-decoration: none;
    display: list-item; 
}

#book-1 .row p{
    font-family: "open sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    line-height: 2.4em;
    letter-spacing: .065em;
    text-rendering: optimizeLegibility;
    color: var(--pale);
} 

/* Locations */

#location-hero .row{
    padding: 5vh 3vh;
}

#location-hero .row h1{
    font-family: brandon-grotesque;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    line-height: 1.4em;
    letter-spacing: 1em;
    text-transform: uppercase;
    color: var(--blue);
    padding-top: 17px;
}

#location-hero .row p{
    font-family: proxima-nova;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 2.4em;
    letter-spacing: .065em;
    text-rendering: optimizeLegibility;
    color: var(--pale);
}

footer{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;
}

footer a{
    text-decoration: none;
    font-family: "open sas", sans-serif;
}

footer h5{
    font-family: "Phudu", sans-serif;
    margin-bottom: 15px;
}

footer .last{
    background-color: var(--blue);
}

@media screen and (max-width: 848px) {
    #location-hero .row h1{
        font-family: brandon-grotesque;
        font-weight: 700;
        font-style: normal;
        font-size: 30px;
        line-height: 1.4em;
        text-transform: uppercase;
        letter-spacing: 0;
        color: var(--blue);
        padding-top: 17px;
    }
  }